.total{
    display:flex;
    height:15%;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}
h3{
    padding-left: 13px;
   font-size: larger;
   color: rebeccapurple;
}
.search{
    padding-left: 25px;
}
.searchbar{
    margin: auto;
    padding-left: 30px;
}
.menubutton{
    padding-left: 15px;
}
.searchbar{
    width: 750px;
    //max-width: 90%;
    border-radius: 5px;
    padding-left: 25px;
    height: 40px;
    padding: 0px;
    display:flex;
    border-inline-start-color: gainsboro;
}
.searchbutton{
    background: transparent;
    border:none;
    outline:none;
    margin-top: 3px;
}
.searchinput{
    outline: none;
    border: none;
    width: 560px;
    margin-left: 20px;
}
.image{
    padding-left: 20px;
    padding-top: 10px;
}
.collab{
    padding-left: 50px;
    
}
.photoedit
{
    padding-left: 46%;
}
.navadd{
    width:60%;
    background: transparent;
    outline: none;
    border: none;
   
}
// .sideset{
//     padding-right: 10px;
// }
.container{
    background: transparent;
    flex: 1;
   width: 80%;
    height: 90%;
   // top:64px;
    position: absolute;
    height:400px;
   margin-top: 15px;
   // margin: auto;
}
.icon{
    margin-top: 5px;
}
.sidenave{
    user-select: none;
    display:flex;
    padding: 10px 5px 10px 5px;
}
.note{
    padding-left: 30px;
}
.div{
    padding:3px;
}
.sidenavlist {
    width: 270px;
    height: 95%;
    background-color: #ffffff;
    }
.mat-dialog-container {
    width: 250px;
    height: 250px
}
.listgrid{
    padding-right: 30px;
}
.orange {
    background-color: orange;
}
.picture{
    margin-left: 100px;
}
.white {
    background-color: white;
}

.listbutton gridbutton{
    background-color: transparent;
border: none;
outline: none;
margin-right: 10px;
}
.SidenavContent {
background-color: rgb(255, 255, 255);
//max-width: -webkit-fill-available;
//max-height: -webkit-fill-available;
margin-left: 288px;
left: 150px;
margin-top: 50px;
}
.signout{
    width:90px;
    height:45px;
    background-color:green;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signoutclass{
    padding :10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentdiv{
    flex: 1 0 auto;
    margin-top: 60px;
}
.pic{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin-top:1em;
    margin-left: 200px;
    margin-right: 200px;
}
.sidenavbar
{ 
   // margin: auto;
   margin-top: 20px;
}
.addAcount{
    font: sans-serif;
    font-size: 1em;
}
.picture{
    width: 50px;
padding-left: 80px;
padding-top: 10px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;
}
.listbutton{
    left:150px;
}
.menubutton{
   left:10px;
}
.navbar:hover {
    background-color:orangered;
    }
// .picturecls
// {
// }
