<div class="body">
  <div>
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      
      <button class="menubutton" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="./fun.png" class="image">
      <h3>FUNDOO NOTE</h3>
      <div class="search">
        <mat-card class="searchbar">
          <button class="searchbutton" mat-icon-button>
            <mat-icon matSuffix>search</mat-icon>
          </button>
          <input class="searchinput" type="text" name="search" autocomplete="off" placeholder="Search ">
          <button class="searchbutton" mat-icon-button>
            <!--<mat-icon matSuffix class="search">clear</mat-icon> -->
          </button>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
      <div class="listgrid">
        <button mat-icon-button class="listbutton" *ngIf="!card1" matTooltip="List view">
          <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button class="gridbutton" *ngIf="card1" matTooltip="Grid view">
          <mat-icon>grid_on</mat-icon>
        </button>
      </div>
      <div>
        <img class="profilepicture" alt="ProfilePicture" *ngIf="!profilePic" src="/assets/img/No.png"
          [matMenuTriggerFor]="menu">
        <img class="profilepicture" alt="ProfilePicture" *ngIf="profilePic" src="{{profilePic}}"
          [matMenuTriggerFor]="menu">
      </div>
      <mat-menu #menu="matMenu">
        <div class="p">
          <img class="pic" alt="Profile Picture" *ngIf="!profilePic" src="/assets/img/No.png">
          <img class="pic" alt="Profile Picture" *ngIf="profilePic" src="{{profilePic}}">
        </div>
      </mat-menu>
    </mat-toolbar>
    <div>
      <mat-drawer-container class="container">
        <mat-drawer mode="side" class="side" opened>
          <mat-divider class="div"></mat-divider>
          <button mat-button class="navadd">
            <div class="drawer">
              <mat-icon class="icon">emoji_objects</mat-icon>
              <div class="note">Notes</div>
            </div>
          </button>
          <button mat-button class="navadd">
            <div class="drawer">
              <mat-icon class="icon">notifications</mat-icon>
              <div class="note">Remainders</div>
            </div>
          </button>
          <mat-divider class="div"></mat-divider>
          <button mat-button class="navadd">
            <div class="drawer">
              <mat-icon class="icon">create</mat-icon>
              <div class="note">Edit Labels</div>
            </div>
          </button>
          <mat-divider class="div"></mat-divider>
          <button mat-button class="navadd">
            <div class="drawer">
              <mat-icon class="icon">archive</mat-icon>
              <div class="note">Archive</div>
            </div>
          </button>
          <mat-divider class="div"></mat-divider>
          <button mat-button class="navadd">
            <div class="drawer">
              <mat-icon class="icon">delete</mat-icon>
              <div class="note">Trash</div>
            </div>
          </button>
        </mat-drawer>
      </mat-drawer-container>
      <mat-drawer-content>
        <router-outlet> </router-outlet>
      </mat-drawer-content>
    </div>
  </div>