.toolbar{
    position: fixed;
    z-index: 2;
    background-color: white;
}
.header{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 24px;
        opacity: 1;
        letter-spacing: 0.1em;
        font-weight: 550;
        padding-left: 0px;
        position: relative;
        top: -1.5px;
        vertical-align: middle;
}
.sidenav{
    height: 500px;
  }
