<div class="body">
  <mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="btn" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h3>FUNDOO NOTE</h3>
    <div class="search">
      <mat-card class="searchbar">
        <button class="searchbutton"  mat-icon-button>
          <mat-icon matSuffix class="suffix">search</mat-icon>
        </button>
        <input class="searchinput" type="text" name="search" autocomplete="off" placeholder="search ">
        <button class="searchbutton" mat-icon-button>
          <mat-icon matSuffix class="search">clear</mat-icon>
        </button>
      </mat-card>
    </div>

  </mat-toolbar>
</div>