<div class="total">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <button class="menubutton" mat-icon-button (click)="snav.toggle()">
            <mat-icon matTooltip="Main Menu">menu</mat-icon>
        </button>
        <img src="assets/images/fun.png" class="image">
        <h3>FUNDOO NOTE</h3>
        <div class="search">
            <mat-card class="searchbar">
                <button class="searchbutton" mat-icon-button>
                    <mat-icon matSuffix>search</mat-icon>
                </button>
                <input class="searchinput" type="text" name="search" autocomplete="off" placeholder="Search ">
                <button class="searchbutton" mat-icon-button>
                    <!-- <mat-icon matSuffix class="search">clear</mat-icon> -->
                </button>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="listgrid">
            <button mat-icon-button class="listbutton" *ngIf="!card1" matTooltip="List view">
                <mat-icon>list</mat-icon>
            </button>
            <button mat-icon-button class="gridbutton" *ngIf="card1" matTooltip="Grid view">
                <mat-icon>grid_on</mat-icon>
            </button>
        </div>
        <div>
            
            <img class="picture propic" alt="ProfilePicture" *ngIf="!profilePic" src="/assets/images/user.jpg"
                [matMenuTriggerFor]="menu">
            <img class="picture" alt="ProfilePicture" *ngIf="profilePic" src="{{profilePicture}}"
                [matMenuTriggerFor]="menu">
        </div>
        <mat-menu #menu="matMenu">
            <div class="photo">
                <img class="pic" alt="Profile Picture" *ngIf="!profilePic" src="/assets/images/user.jpg">
                <img class="pic" alt="Profile Picture" *ngIf="profilePic" src="{{profilePicture}}">
            </div>
            <div class="changePic">
                <mat-icon mat-icon-button (click)="ChangeProfile()" class="photoedit">photo_camera</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div class="addpersondiv">
            <button mat-button class="add">
                <div class="collab">
                    <a class="addperson">
                    <mat-icon class="addicon">person_add</mat-icon>
                    <span class="addAcount">Add Account</span>
                </a>
                </div>
            </button>
        </div>
            <div class="signoutclass">
                <button mat-button class="signout" (click)="logout()">Sign Out</button>
            </div>
        </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="contentdiv">
        <mat-sidenav-container class="container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                fixedTopGap="56" opened>
                <mat-nav-list class="sidenavlist">
                    <div class="sidenavbar">
                        <div class="sidenave snavbar">
                            <button mat-button class="navadd" [routerLink]="['note']"
                                routerLinkActive="router-link-active" (click)="headerName='Notes'"
                                [ngClass]="{'sidenavname': headerName!='Notes', 'sideNames': headerName=='Notes'}" opened>
                                <mat-icon class="icon">emoji_objects</mat-icon>
                                <span class="note">Notes</span>
                            </button>
                        </div>
                        <!-- <div class="sidenave snavbar" role="button"
                          class="navadd navbar" [routerLink]="['reminder']"
                                routerLinkActive="router-link-active">
                                <mat-icon class="icon">notifications</mat-icon>
                                <span class="note">Remainders</span>
                        </div> -->
                        <div class="sidenave snavbar">
                            <button mat-button class="navadd" [routerLink]="['reminder']"
                                routerLinkActive="router-link-active" (click)="headerName='Reminder'"
                                [ngClass]="{'sidenavname': headerName!='Reminder', 'sideNames': headerName=='Reminder'}">
                                <mat-icon class="icon">notifications</mat-icon>
                                <span class="note">Remainders</span>
                                </button>
                        </div>

                        <div class="sidenave snavbar">
                            <button mat-button class="navadd">
                                <mat-icon class="icon">create</mat-icon>
                                <span class="note">Edit Labels</span>
                            </button>
                        </div>
                        <!-- <mat-divider class="div"></mat-divider> -->
                        <div class="sidenave snavbar">
                            <button mat-button class="navadd" [routerLink]="['arch']"
                                routerLinkActive="router-link-active" (click)="headerName='Archive'"
                                [ngClass]="{'sidenavname': headerName!='Archive', 'sideNames': headerName=='Archive'}">
                                <mat-icon class="icon">archive</mat-icon>
                                <span class="note">Archive</span>

                            </button>
                        </div>
                        <!-- <mat-divider class="div"></mat-divider> -->
                        <div class="sidenave snavbar">
                            <button mat-button class="navadd" [routerLink]="['trash']"
                                routerLinkActive="router-link-active">
                                <mat-icon class="icon">delete</mat-icon>
                                <span class="note">Trash</span>

                            </button>
                        </div>
                    </div>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="SidenavContent">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>