.body{
    display:flex;
    height:15%;
}
.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    padding-left: 13px;
   font-size: larger;
   color: rebeccapurple;
}
.search{
    padding-left: 25px;
}
.searchbar{
    margin: auto;
    padding-left: 30px;
}
.menubutton{
    padding-left: 15px;
}
.searchbar{
    width: 750px;
    //max-width: 90%;
    border-radius: 5px;
    padding-left: 25px;
    height: 40px;
    padding: 0px;
    display:flex;
    border-inline-start-color: gainsboro;
}
.searchbutton{
    background: transparent;
    border:none;
    outline:none;
    margin-top: 3px;
}
.searchinput{
    outline: none;
    border: none;
    width: 560px;
    margin-left: 20px;
}
.image{
    padding-left: 20px;
    padding-top: 10px;
}
.navadd{
    width:50%;
    background: transparent;
    outline: none;
    border: none;
}
.container{
    background: transparent;
   width: 13%;
    height: 90%;
    top:64px;
    position: absolute;
    margin: auto;
}
.icon{
    margin-top: 5px;
}
// .sidenave{
//     display:flex;
//     padding: 10px 5px 10px 5px;
// }
.note{
    padding-left: 30px;
}
.div{
    padding:3px;
}
.sidenavlist {
    width: 270px;
    height: 98.6%;
    background-color: #ffffff;
    }
.mat-dialog-container {
    width: 250px;
    height: 250px
}
.listgrid{
    padding-right: 30px;
}

.listbutton gridbutton{
    background-color: transparent;
border: none;
outline: none;
margin-right: 10px;
}
.sidenavContent {
background-color: rgb(255, 255, 255);
max-width: -webkit-fill-available;
max-height: -webkit-fill-available;
margin-left: 200px;
}
.signout{
    width:90px;
    height:45px;
    background-color:green;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signoutclass{
    padding :10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentdiv{
    margin: auto;
    margin-top: 60px;
}
.pic{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin-top:1em;
    margin-left: 200px;
    margin-right: 200px;
    
}
.addAcount{
    font: sans-serif;
    font-size: 1em;
}
.picture{
    width: 50px;
padding-left: 80px;
padding-top: 10px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;
}
