<div class="example">
    <div class="row" style="margin-top: 20px;margin-left: 10%;">
        <div *ngFor="let notes of allnotes">
            <div *ngIf="!notes.trash && !notes.archive" class="column">
                <mat-card class="card">
                    <div>
                        <div class="pin">
                            <div class="title">
                                <app-pin></app-pin>
                            </div>
                        </div>
                        <div class="ntitle" (click)="Update(note)">
                            {{notes.title}}
                        </div>
                        <div class="ndescription" (click)="Update(note)">
                            {{notes.description}}
                        </div>
                        <div class="chiplist">
                            <mat-chip-list>
                                <mat-chip matTooltip="Delete Reminder" class="reminder">
                                    <mat-icon matChipRemove class="remindtime">access_time</mat-icon>
                                    {{notes.reminder}}
                                    <mat-icon class="close" (click)="deleteReminder(notes.id)">close</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <app-icons></app-icons>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>