.card{
    background-color: whitesmoke;
    height: 80%;
    width: 35%;
    visibility: visible;
    margin:auto;
}
.fundoo
{
color: royalblue;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: auto;
}
.title{
    margin: auto;
}
h1{
    text-align: center;
}
.form
{
    box-align :center;
    text-align: center;
}
.line
{
    width: 95%;
}