.fundoo
{
color: royalblue;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.name{
    width: 45%;
    margin: 0 10px;
}
.card{
    width: 39%;
    margin-top: 5%;
    margin-left: 30%;
}
.headertext{
    margin-left: 95%;
}
.matform{
    width: 85%;
}
.button{
    margin-left: 68%;
}