<mat-card class="card">
    <div class="form" align="center">
        <div class="title">
            <mat-card-header>
                <mat-card-title class="registertitle">
                    <mat-label class="fundoo">
                        <h1>FUNDOO</h1>
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                    <h2>Reset Fundoo Account Password</h2>
                </mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <mat-label>New Password</mat-label>
<input type="password" class="password">
    <mat-label>Confirm New Paassword</mat-label>
    <input type="password" class="password" >
</mat-card>