<mat-card class="card">
    <div class="form" align="center">
        <div class="title">
            <mat-card-header>
                <mat-card-title class="registertitle">
                    <mat-label class="fundoo">
                        <h1 class="headertext">FUNDOO</h1>
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                    <h2>Reset Fundoo Account Password</h2>
                </mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <!-- <mat-label>New Password</mat-label>
    <input type="password" class="password">
    <mat-label>Confirm New Paassword</mat-label>
    <input type="password" class="password" > -->
    <div>
        <label >New Password </label>
        <mat-form-field  class="matform" appearance="outline">
            <mat-label class="labelColor">Password</mat-label>
            <input matInput [formControl]="password" placeholder="" type="password">
            <mat-error *ngIf="password.hasError('required')">Enter a password</mat-error>
            <mat-error *ngIf="password.hasError('minlength')"> Min 8 characters
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <label >Confirm Password </label>
        <mat-form-field class="matform" appearance="outline">
            <mat-label class="labelColor">Confirm Password</mat-label>
            <input matInput [formControl]="confirmPassword" placeholder="" type="password">
            <mat-error *ngIf="confirmPassword.hasError('required')">Enter a password</mat-error>
            <mat-error *ngIf="confirmPassword.hasError('minlength')"> Use 8 characters or more for your password
            </mat-error>
        </mat-form-field>
    </div>
    <div class="button">
        <button mat-raised-button type="button" class="reset">Reset</button>
    </div>
</mat-card>