<div mat-dialog-content class="editbody">
    <!-- <mat-card class="card"> -->
        <div mat-dialog-container class="content">
            <div class="backicon">
                <mat-icon matTooltip="Go back" mat-dialog-close>arrow_back</mat-icon>
            </div>
            <div class="pictag">Pick date & time</div>
            <div class="datetoggel">
                <mat-form-field>
                    <mat-icon></mat-icon>
                    <input matInput [matDatepicker]="date" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- <div> 
            <mat-form-feild class="time">
                <mat-label>8:00 AM</mat-label>
                <mat-select>
                    <mat-option value="8:00 AM">Morning 8:00 AM</mat-option>
                    <mat-option value="1:00 PM">Afternoon 8:00 PM</mat-option>
                    <mat-option value="6:00 PM">Evening 8:00 AM</mat-option>
                    <mat-option value="8:00 PM">Night 8:00 AM</mat-option>
                    <mat-option value="">Custom</mat-option>

                </mat-select>
            </mat-form-feild>
        </div>
        <div>
            <mat-form-feild>
                <mat-label>Does not repeat</mat-label>
                <mat-select>
                    <mat-option value="null">Does not repeat</mat-option>
                    <mat-option value="daily">Daily</mat-option>
                    <mat-option value="weekly">Weekly</mat-option>
                    <mat-option value="monthly">Monthly</mat-option>
                    <mat-option value="yearly">Yearly</mat-option>
                </mat-select>
            </mat-form-feild>-->
            <div class="savediv">
                <button mat-raised-button mat-dialog-close (click)="savefun()">Save</button>
            </div>
            <!-- </div>  -->
        </div>
    <!-- </mat-card> -->
</div>