<div class="total">
    <!-- <mat-icon class="archive">notifications</mat-icon> -->
    <img class="reminderimg" src="./assets/images/reminder.png"> 
    <div class="text">Notes with upcoming reminders appear here</div>
</div>
<!-- <div class="reminderclass" fxLayoutAlign="center center">
    <div class="reminder">
        <mat-card class="card" [style.backgroundColor]="note.color">
            <div class="title">
                {{note.Title}}
                 
            </div>
            <mat-card-content>
                <div class="display">
                    {{note.Description}}
                </div>
                <mat-card-footer>
                    <mat-chip-list>
                        <mat-chip class="remin" *ngIf="note.reminder">
                            <mat-icon matChipRemove class="remindertime">access_time</mat-icon>
                            <span class="reminderdisplay">{{note.reminder}}</span>
                            <mat-icon matChipRemove class="remove" (click)="removeReminder(note)">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->