<mat-card *ngIf="!Note2" class="card" (click)="note()">
  <div class="takeNote">Take a note...
    <button mat-icon-button class="noteicon" matTooltip="New list">
      <mat-icon>check_box</mat-icon>
    </button>
    <button mat-icon-button class="noteicon" matTooltip="New note with drawing">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button class="noteicon" matTooltip="New note with image">
      <mat-icon>image</mat-icon>
    </button>
  </div>

</mat-card>

<mat-card *ngIf="!Note1" class="card" [ngStyle]="{'background-color': changeColor}">
  <div class="text">
    <input type="text" class="notetext" placeholder="Note Title" [(ngModel)]="title">
    <app-pin></app-pin>
    <input class="notetext" type="text" placeholder="Take a note......" [(ngModel)]="description">
  </div>
  <div class="icons">
    <div>
      <app-icons></app-icons>
    </div>
    <div class="closecls">
      <button mat-button class="close" (click)="close()">
        close
      </button>
    </div>
  </div>
</mat-card>
