.button{
    background: transparent;
    border: none;
    outline: none;
    margin: 4px;
}
// .colorbutn{
//     background-color: #fff;
// //box-sizing: border-box;
// //box-shadow: 0 1px 4px rgba(0,0,0,0.2);
// padding: 5px 7px 3px;
// position: absolute;
// visibility: hidden;
// }
.icon{
    font-size: 20px;
}
.heading{
    font-size: 15px;
    margin: 10px 15px;
}
.iconbuttons{
    margin-top: 10px;
}
// .verticalbutton
// {
//     aria-hidden =false;
//      aria-label ="expandmenu"  ; 
// }

.Reminderbutton{
    display: grid;
}
.align{
    display:flex;
}
.space{
    padding-left: 80px;
}
.space1{
    padding-left: 89px;
    
}
.colorIcon{
    width:25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
}
.colorIcons{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    max-width: 100%;
}
.picktime{
    margin-left: 18px;
   // background-size: 15px 15px;
  //  padding-left: 25px;
    color: #3c4043;
}
.saverebutton{
    margin-left: 120px;
}
.collabcls
{
    display: flex;
flex-direction: row;
justify-content: center;
margin-top: 40px;
}
.pickdivicon{
    cursor: pointer;
   
    color: #3c4043;
    font-family: 'Roboto',arial,sans-serif
}
