<div class="iconbuttons">
  <button mat-icon-button class="button" matTooltip="Remind me">
    <mat-icon class="icon" [matMenuTriggerFor]="remindermenu">add_alert</mat-icon>
  </button>
  <!-- <div class="collabcls"> -->
  <button mat-icon-button class="button" matTooltip="Collaborator" (click)="openCollabDialog(data)">
    <mat-icon class="icon">person_add</mat-icon>
  </button>
  <!-- </div> -->
  <button mat-icon-button class="button" matTooltip="Change color" class="{{value}}">
    <mat-icon class="icon" [matMenuTriggerFor]="color">color_lens</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addImage(data)" matTooltip="Add image">
    <mat-icon class="icon">add_photo_alternate</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Archive">
    <mat-icon class="icon">archive</mat-icon>
  </button>
  <!-- <button mat-icon-button class="button"  (click)="Archive()" matTooltip="Archive">
    <mat-icon class="icon">archive</mat-icon>
  </button>
  <button mat-icon-button class="button" click)="unArchive()" matTooltip="Unarchive">
    <mat-icon class="icon">unarchive</mat-icon>
  </button> -->
  <button class="verticalbutton" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="more">
    <mat-icon class="icon" aria-label="expand menu">more_vert</mat-icon>
  </button>
  <mat-menu #remindermenu="matMenu">
    <div class="heading"> Reminder:</div>
    <div class="Reminderbutton">
      <button mat-button class="Reminderbutton" (click)="Remainder8PM()">
        <div class="align">
          <div>Later today</div>
          <div class="space">8:00AM</div>
        </div>
      </button>
      <button mat-button class="Reminderbutton" (click)="Remainder8AM()">
        <div class="align">
          <div>Tomorroow</div>
          <div class="space">8:00AM</div>
        </div>
      </button>
      <button mat-button class="Reminderbutton" (click)="Location()">
        <div class="align">
          <div>Home</div>
          <div class="space1">Telangana</div>
        </div>
      </button>
      <button class="Reminderbutton">
        <!-- mat-menu-item [matMenuTriggerFor]="pickdate" -->
        <div class="align" (click)="reminderDialog()">
          <mat-icon class="timericon">schedule</mat-icon>
          <div class="picktime">Pick date & time</div>
        </div>
      </button>
      <!-- <mat-menu #pickdate="matMenu">
        <div> 
          <mat-form-feild class="time">
              <mat-label>8:00 AM</mat-label>
              <mat-select>
                  <mat-option value="8:00 AM">Morning 8:00 AM</mat-option>
                  <mat-option value="1:00 PM">Afternoon 8:00 PM</mat-option>
                  <mat-option value="6:00 PM">Evening 8:00 AM</mat-option>
                  <mat-option value="8:00 PM">Night 8:00 AM</mat-option>
                  <mat-option value="">Custom</mat-option>

              </mat-select>
          </mat-form-feild>
      </div>
      <div>
          <mat-form-feild>
              <mat-label>Does not repeat</mat-label>
              <mat-select>
                  <mat-option value="null">Does not repeat</mat-option>
                  <mat-option value="daily">Daily</mat-option>
                  <mat-option value="weekly">Weekly</mat-option>
                  <mat-option value="monthly">Monthly</mat-option>
                  <mat-option value="yearly">Yearly</mat-option>
              </mat-select>
          </mat-form-feild>
          </div>d
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      <!-- <mat-form-field>
          <input matInput [ngxTimepicker]="picker">
          <ngx-material-timepicker #picker></ngx-material-timepicker>
        </mat-form-field>   -->
      <!-- <div class="savediv">
          <button class="saverebutton" mat-raised-button mat-dialog-close (click)="savefun()">Save</button>
        </div>
       </mat-menu> -->
      <!-- </div>
  </mat-menu> -->
      <mat-menu #color="matMenu" class="menu">
        <div class="colorIcons ">
          <div *ngFor="let color of Colors">
            <button mat-icon-button class="colorIcon" [style.background-color]="color.colorCode"
              (click)="setcolor(notes.id, color.color)" matTooltip="{{color.name}}">
            </button>
          </div>
        </div>
      </mat-menu>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Delete note</span>
        </button>
        <button mat-menu-item>
          <span>Add label</span>
        </button>
        <button mat-menu-item>
          <span>Add drawing</span>
        </button>
        <button mat-menu-item>
          <span>Make a copy</span>
        </button>
        <button mat-menu-item>
          <span>show checkboxes</span>
        </button>
      </mat-menu>
    </div>