<div class="iconbuttons">
  <button mat-icon-button class="button" matTooltip="Remind me">
    <mat-icon class="icon" [matMenuTriggerFor]="remindermenu">add_alert</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Collaborator">
    <mat-icon class="icon" (click)="AddCollaborator(data)">person_add</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Change color" class="{{value}}">
    <mat-icon class="icon" [matMenuTriggerFor]="color">color_lens</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addImage(data)" matTooltip="Add image">
    <mat-icon class="icon">add_photo_alternate</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Archive">
    <mat-icon class="icon">archive</mat-icon>
  </button>
   <!-- <button mat-icon-button class="button"  (click)="Archive()" matTooltip="Archive">
    <mat-icon class="icon">archive</mat-icon>
  </button>
  <button mat-icon-button class="button" click)="unArchive()" matTooltip="Unarchive">
    <mat-icon class="icon">unarchive</mat-icon>
  </button> -->
  <button class="verticalbutton" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="more">
    <mat-icon class="icon" aria-label="expand menu">more_vert</mat-icon>
  </button>
  <mat-menu #remindermenu="matMenu">
    <div class="heading"> Reminder:</div>
    <div class="Reminderbutton">
      <button mat-button class="Reminderbutton" (click)="Remainder8PM()">
        <div class="align">
          <div>Later today</div>
          <div class="space">8:00AM</div>
        </div>
      </button>
      <button mat-button class="Reminderbutton" (click)="Remainder8AM()">
        <div class="align">
          <div>Tomorroow</div>
          <div class="space">8:00AM</div>
        </div>
      </button>
      <button mat-button class="Reminderbutton" (click)="datepicker()">
        <div class="align">
          <mat-icon class="timericon">schedule</mat-icon>
          <div class="picktime">Pick date & time</div>
        </div>

    </button>
      <!-- <mat-form-field>
        <mat-icon></mat-icon>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      
    </div>
  </mat-menu>
  <mat-menu #color="matMenu" class="menu">
    <div class="colorIcons ">
      <div *ngFor="let color of Colors">
        <button mat-icon-button class="colorIcon" [style.background-color]="color.colorCode"
          (click)="setcolor(notes.id, color.color)" matTooltip="{{color.name}}">
        </button>
      </div>
    </div>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Delete note</span>
    </button>
    <button mat-menu-item >
      <span>Add label</span>
    </button>
    <button mat-menu-item>
      <span>Add drawing</span>
    </button>
    <button mat-menu-item>
      <span>Make a copy</span>
    </button>
    <button mat-menu-item>
      <span>show checkboxes</span>
    </button>
  </mat-menu>
</div>