<div class="collabdiv" fxFlex="100" fxLayout="column">
    <div fxFlex="100" class="main">
        <div class="collabname">Collaborators</div>
        <div class="ownerdetails" fxLayout="row">
            <div class="ownerimg"> <img [src]="picLink" class="account-icon"> </div>
            <div fxLayout="column">
                <div>
                    <span class="names"> {{firstName}} {{lastName}} </span>
                    <span class="owner">(Owner)</span>
                </div>
                <div class="usermail"> {{email}}</div>
            </div>
        </div>
    </div>
</div>