.editlabelname{
    color: #202124;
letter-spacing: .00625em;
font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
height: 25px;
}
.editcolumn{
    width:200px;
}
.editbody
{
    max-height: 400px;
overflow-y: hidden;
padding: 15px;
width: 284px;
}
.cancel{
    flex: 1 0 auto;
}
.create{
    background-color: transparent;
border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
border-bottom: 1px solid transparent;
box-shadow: none;
color: #3c4043;
font-size: 13px;
font-family: 'Roboto',arial,sans-serif;
height: 25px;
outline: none;
}
.check{
    background-position: center;
background-repeat: no-repeat;
background-size: 18px 18px;
border-radius: 50%;
border: 1px solid transparent;
height: 24px;
opacity: .54;
width: 24px;
}
.labelnew{
    flex: 1 1 auto;
font-size: 14px;
font-weight: 500;
margin: 0 15px;
}
.donediv{
    border-top: 1px solid #dadce0;
padding: 15px 10px;
text-align: right;
}
.donebutn
{
    border-color: transparent !important;
    box-sizing: border-box;
color: rgba(0,0,0,0.87);
overflow: hidden;
text-overflow: ellipsis;
text-align: right;

white-space: nowrap;
letter-spacing: .01785714em;
font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: .875rem;
font-weight: 500;
line-height: 1.25rem;
height: 36px;
padding: 8px 24px;
border-radius: 4px;
cursor: pointer;
display: inline-block;
}
.icon{
    border-radius: 50%;
}
