.notearea
{
    display: flex;
     margin-left: 5%;
}
.pinned{
    color: #5f6368;
letter-spacing: .07272727em;
font-family: Roboto,Arial,sans-serif;
font-size: .6875rem;
font-weight: 500;
line-height: 1rem;
text-transform: uppercase;
margin: 32px 32px 8px;
position: absolute;
}
.others
{
    color: #5f6368;
letter-spacing: .07272727em;
font-family: Roboto,Arial,sans-serif;
font-size: .6875rem;
font-weight: 500;
line-height: 1rem;
text-transform: uppercase;
margin: 32px 32px 8px;
position: absolute;
}