<div *ngIf="notepara=='notes'">
    <div class="getnote">
        <app-getnote></app-getnote>
    </div>
    <!-- <app-pin class="pinclass"></app-pin> -->
    <div class="pinned">PINNED
    </div>
    <div class="dis">
        <div *ngFor="let note of allnotes" class="notearea">
            <app-editcard *ngIf="!note.trash&&!note.archive&&note.pin=='1'" [param]="notepara" 
                [notes]="note"></app-editcard>
        </div>
    </div>
    <div class="others">OTHERS
    </div>
    <div class="display">
        <div *ngFor="let note of allnotes" class="notearea">
            <app-edit-note *ngIf="!note.trash&&!note.archive&&!note.pin" [param]="gridView" [notes]="note">
            </app-edit-note>
        </div>
    </div>
</div>
<div *ngIf="param=='Archive'">
    <div class="archivedis">
        <div class="archdis" *ngFor="let note of allnotes">
            <app-edit-note *ngIf="!note.trash&&note.archive=='1'" [param]="gridView" [notes]="note">
            </app-edit-note>
        </div>
    </div>
</div>

<div *ngIf="param=='Trash'">
    <div class="remindclass">
        <div *ngFor="let note of allnotes" class="space">
            <app-edit-note *ngIf="note.trash=='1'" [param]="gridView" [notes]="note"></app-edit-note>
        </div>
    </div>
</div>
<div *ngIf="param=='Reminder'">
    <app-getnote></app-getnote>
    <div class="reminddis">
        <div *ngFor="let note of allnotes" class="space">
            <div *ngIf="note.reminder!=null">
                <app-edit-note *ngIf="!note.trash&&!note.archive" [param]="gridView" [ [notes]="note"></app-edit-note>
            </div>
        </div>
    </div>
</div>