<div class="trashtotal">
    <div fxLayoutAlign="center center" class="trashclass">
       <span class="text"> Notes in Trash are deleted after 7 days.</span>
        <div class="trashbutton" >
             <button mat-button ><span class="trash" (click)=deleteTrash()>Empty Trash</span>
            </button> 
        </div>
    </div>
    <div class="emptytrash" >
        <img class="trashimg" src = "../../../assets/images/trash.svg"> 
        <div class="emptytrashtext">No notes in Trash</div>
       </div>
</div>