.card
{
    background-color: whitesmoke;
    margin-top: 30%;
    height: 50%;
    width: 30%;
    visibility: visible;
    margin:auto;
}
.fundoo
{
color: royalblue;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form
{
    align-content:center;
}
.line{
    width: 90%;
}
h4{
    color:skyblue;
}
.align{
    text-align: center;    
}
.align{
    justify-content: center;
    display: flex;
}
.btn{
    background-color:rgb(3, 7, 39);
    color: white;
    height:35px;
    outline: none;
    border-radius: 4px;
    width:50px;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
    padding:10px;
    padding-left: 150px;
}
.cancel{
    font-weight: 250;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(216, 196, 81);
    outline: none;
    padding-top: 20px;
    cursor: pointer;
}