<mat-card class="card" fxLayoutAlign="center center">
    <form class="form">
        <div class="title">
            <mat-card-header>
                <mat-card-title class="forgot">
                    <mat-label class="fundoo">
                        <h1 class="funtext">FUNDOO</h1>
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <div class="textheadforfun">
                <div>
                    <span class="findtext">Find Account Password </span>
                </div>
                <div>
                    <span type="text" class="entertext"> Enter your Fundoo Account Email</span>
                </div>
            </div>
        </div>
        <mat-form-field class="width" appearance="outline" class="line">
            <mat-label class="labelColor">Email<sup>*</sup></mat-label>
            <input matInput [formControl]="email" placeholder="Email">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>
        <div class="align">
            <div class="cancelbtn">
                <button mat-raised-button routerLink="/login">Cancel</button>
            </div>
            <div class="submitbtn">
                <button mat-raised-button type="button" (click)="forgotpassword()">Submit</button>
            </div>
        </div>
    </form>
</mat-card>